

.worktrees/
.env.*
.env
!.env.example

node_modules
.venv/
__pycache__/
*.py[cod]
*.pyc

dist
build
coverage
logs
*.log

# Optional: Ignore IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: Ignore OS-specific files
.DS_Store
Thumbs.db


hc_webhook_*